$m-gutter: 1rem;

$f-serif: 'Eczar', serif;
$f-sans: 'Tenor Sans', sans-serif;

@import 'reset';
@import 'layout';
@import 'hero';

.post-abstract {
  padding-bottom: $m-gutter;

  & + & {
    border-top: 1px #ccc solid;
  }
}

.author-info {
  display: flex;
  align-items: center;

  &__pic {
    height: 2rem;
    border-radius: 50%;
  }

  > * + * {
    margin-left: $m-gutter / 2;
  }
}
