<div class="hero">
  <h1 class="hero__title">Ryan Tablada</h1>
  <h2 class="hero__subtitle">Building the Web</h2>
</div>

<div class="section">
  <div class="container">
  <%= for post <- @posts do %>
    <article class="post-abstract">
      <h2 class="post-abstract__title"><%= post.title %></h2>

      <p class="post-abstract__abstract"><%= short(post.content, 50) %>...</p>
    </article>
  <% end %>
  </div>
</div>
